<!-- Menu Bar -->
<div class="ui menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="images/ng-book-2-minibook.png">
            ng-book 2
        </a>
        <div class="header item borderless">
            <h1 class="ui header">
                Angular 2 Simple Reddit
            </h1>
        </div>
    </div>
</div>
<div class="ui main text container">
    <form class="ui large form segment">
        <h3 class="ui header">Add a Link</h3>
        <div class="field">
            <label for="title">Title: </label>
            <input name="title" #newtitle />
        </div>
        <div class="field">
            <label for="link">Link: </label>
            <input name="link" #newlink />
        </div>
        <button class="ui positive right floated button" (click)="addArticle(newtitle, newlink)">
            Submit link
        </button>
    </form>
    <div class="ui grid posts">
        <ul class="list-style:none;">
            <li *ngFor="let article of sortedArticles()">
                <article [article]="article"></article>
            </li>
        </ul>
    </div>
</div>